{% extends "lab_7/layout/base.html" %}

{% block content %}
    <section name="friend-list" id="friend-list">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <h2>Teman Fasilkomku</h2>
                    <div id="friend-list" class="list-group">

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascript %}
    <script>
        $( document ).ready(function () {
            $.ajax({
                method: "GET",
                url: '{% url "lab-7:get-friend-data" %}',
                success: function(response){
                lst_friend = response.friends;
                
                for(var i=0; i < lst_friend.length; ++i){
                    friend = JSON.parse(lst_friend[i]);
                    html = '<div class="list-group-item" id="friend-'+friend.id+'"> \
                                <a class="list-group-item clearfix" style="width:100%" href="/lab-7/' + friend.npm +'/">' +
                                    friend.friend_name + " " + "(" + friend.npm + ")"
                                + '</a> \
                                <a class="list-group-item pull-left" onclick="deleteFunc('+friend.id+')">X</a> \
                            </div>';
                    $('#friend-list').append(html);
                }
            },
                error: function(error){
                    html = '<div class="alert alert-danger text-center">\
                            <strong>Opps!</strong> Tidak ada teman\
                        </div>';
                $('#friend-list').append(html);
                }
            });
        });
    </script>
{% endblock %}